# @license LGPL-3.0-or-later
# Copyright (c) 2019 Michael Koch <m.koch@emkay443.de>
#
# This file is part of AStA Copyclient.
# AStA Copyclient is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# AStA Copyclient is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with AStA Copyclient.  If not, see <http://www.gnu.org/licenses/>.

VERSION=1.2.3

build-directprint:
	-@rm -rf dist 2>/dev/null || true
	./build_angular.sh 12345 left
	env SHELL=bash ./node_modules/.bin/electron-builder --linux --x64
	ssh deployuser@deployhost 'mkdir -p /path/to/dist/directprint/${VERSION}/12345'
	ssh deployuser@deployhost 'mkdir -p /path/to/dist/directprint/current/12345'
	scp dist/asta-copyclient*.deb deployuser@deployhost:/path/to/dist/directprint/${VERSION}/12345/asta-copyclient.deb
	scp dist/asta-copyclient*.deb deployuser@deployhost:/path/to/dist/directprint/current/12345/asta-copyclient.deb
	./build_angular.sh 54321 right
	env SHELL=bash ./node_modules/.bin/electron-builder --linux --x64
	ssh deployuser@deployhost 'mkdir -p /path/to/dist/directprint/${VERSION}/54321'
	ssh deployuser@deployhost 'mkdir -p /path/to/dist/directprint/current/54321'
	scp dist/asta-copyclient*.deb deployuser@deployhost:/path/to/dist/directprint/${VERSION}/54321/asta-copyclient.deb
	scp dist/asta-copyclient*.deb deployuser@deployhost:/path/to/dist/directprint/current/54321/asta-copyclient.deb